@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth na pagpapalit ng theme para sa mga bagay na di apektado ng view transition */
body {
  @apply bg-slate-50 dark:bg-slate-900;
}

/* ==========================================
   VIEW TRANSITION DARK MODE EFFECT STYLES
   ========================================== */

/* Patayin ang default cross-fade fade animation ng browser */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* DAY MODE PORTAL (Kapag walang .dark class sa html):
   Gusto nating makita yung lumang dark mode canvas na liliit pabalik sa button para makita ang light screen sa ilalim */
::view-transition-old(root) {
  z-index: 9999;
}
::view-transition-new(root) {
  z-index: 1;
}

/* DARK MODE PORTAL (Kapag na-activate na ang .dark class):
   Gusto nating makita yung bagong maitim na canvas na lalaki mula sa button para takpan ang lumang light screen sa ilalim */
.dark::view-transition-old(root) {
  z-index: 1;
}
.dark::view-transition-new(root) {
  z-index: 9999;
}

/* ==========================================
   CUSTOM SCROLLBARS
   ========================================== */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.custom-scrollbar::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}
/* DAY MODE SCROLLBAR */
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #cbd5e1;
    border-radius: 20px;
}
/* DARK MODE SCROLLBAR */
.dark .custom-scrollbar::-webkit-scrollbar-track {
    background: #1e293b;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #475569;
}